.is-open{ left: 0; }
.is-active{
  margin-left: 50%;
}
.is-active-search{
  top: var(--header-width);
}
.main-bg{
  background:rgba(0,0,0,0.5);
}
.active{
  a{
    color: #46a2fd;
    text-shadow: rgba(#000, .3) 0 .05em .15em;
  }
  @include from(medium){
    &::before {
      content: '';
      width: 100%;
      height: 4px;
      background: #46a2fd;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}
.is-block{
  display: block !important;
}
