.aside{
  margin: auto;
  background:#fff;
  box-shadow: 0px 6px 20px 0 rgba(21, 27, 38, 0.2);
  border-radius: 10px;
  padding-bottom: 20px;
  overflow: hidden;
  &:not(:last-child){
    margin-bottom: 40px;
    @include from(566px) {margin-bottom: 20px;}
  }
  &__title{
    font-size: 18px;
    margin-top: 20px;
    padding: 0 20px;
  }
  &__content{
    display: block;
    margin-top: 10px;
    padding: 0 20px;
  }
  &__button{
    display: inline-block;
    margin-top: 20px;
    margin-left: 20px;
    padding: 10px 50px;
    font-size: 16px;
    background: #46a2fd;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
  }
  @include from(500px){
      margin: 10px;
  }
  @include from(650px){
    max-width: 300px;
  }
  @include from(large){
    max-width: initial;
  }

}
