
.main-banner {
  margin-bottom: 6rem;

  position: relative;
  z-index: var(--z-normal);
  padding: 5rem 0 6rem;
  color: #fff;
  height: 500px;
  text-align: center;
  display: flex;
  // clip-path: polygon(0 0, 100% 0, 100% 100%, 0 93%);
  &__hero-image {
      position: absolute;
      top: 0;
      left: 0;
      opacity: .2;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
  }
  &__content {
      position: relative;
      margin: auto;
  }
  &__title{
    font-weight: 300;
    font-size: 60px;
  }

  &__description {
      margin-top: 0;
      margin-bottom: 0;
      font-size: 20px;
      font-weight: 300;
  }
  &--first{
    // background-color: var(--second-color);
    background-color:rgba(25,81,235,0.76);
  }
  &--dark{
    background-color: var(--text-color);
  }
  &--second{
    background-color:rgba(38, 172, 255, 0.8);
  }
}
