.blog-container {
  position: relative;
  @include from(large){
    display: grid;
    grid-template-columns: 1fr 318px;
    gap: 30px;
  }
  @include from(1075){
    grid-template-columns: 2fr 1fr;
  }
}
.main-content {
  width: 100%;
  padding: 20px;
  padding-bottom: 20px;
  padding-bottom: 40px;
  box-shadow: 2px 2px 119px -10px rgba(196,186,196,0.54);
  // box-shadow: 0 0 0 0;
  border-radius: 6px;
  position: relative;
  overflow: hidden;
  background: #fff;
  &::before {
    content: "";
    width: 100%;
    height: 6px;
    position: absolute;
    top: 0;
    left: 0;
    background: #46a2fd;
  }
}
article p {
  margin-top: 20px;
  font-size: 18px;
  color: #3c3c3c;
}
article h1 {
  margin-top: 20px;
  font-weight: 500;
  font-size: 40px;
}
article img{
  margin-top: 20px;
}
.sidebar{
  width: 100%;
  padding: 20px;
  margin-top: 2rem;
  @include from(500px){
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  @include from(large){
    display: block;
    overflow-y: auto;
    margin-top: 0;
    padding: 0;
  }
}


