input[type="radio"]{
  display: none;
}
.category__item {
  padding: 6px 40px;
  margin: 10px;
  font-size: 20px;
  background: #e2e2e2;
  border-radius: 5px;
  text-align: center;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}
.category-container{
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(130px,1fr));
}
label{
  transition: all .3s;
}
[value="TODOS"]:checked ~ .posts .post[data-categories]{ // ~ LO QUE HACE ES BUSCAR EN SU MISMA JERARQUIA
  display: block;
}
[value="TODOS"]:checked ~ .category-container [for="TODOS"],
[value="HTML"]:checked ~ .category-container [for="HTML"],
[value="CSS"]:checked ~ .category-container [for="CSS"],
[value="JS"]:checked ~ .category-container [for="JS"],
[value="PHP"]:checked ~ .category-container [for="PHP"],
[value="NODE"]:checked ~ .category-container [for="NODE"],
[value="VUE"]:checked ~ .category-container [for="VUE"]{
    background: #46a2fd;
    color: #fff;
}
[value="HTML"]:checked ~ .posts .post:not([data-categories*="HTML"]),
[value="CSS"]:checked ~ .posts .post:not([data-categories*="CSS"]),
[value="JS"]:checked ~ .posts .post:not([data-categories*="JS"]),
[value="PHP"]:checked ~ .posts .post:not([data-categories*="PHP"]),
[value="NODE"]:checked ~ .posts .post:not([data-categories*="NODE"]),
[value="VUE"]:checked ~ .posts .post:not([data-categories*="VUE"]){
    display: none;
}
