.footer-wrapper{
  display: flex;
  flex-direction: column;
  text-align: center;
}
.main-footer{
  margin-top: auto;
  margin-left: 0;
  width: 100%;
  // transition: all .3s cubic-bezier(1,0,0,1);
  transition: margin-left .3s cubic-bezier(1,0,0,1);

  &__logo{
    margin: auto;
    text-align: center;
    background:#111;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border: 4.5px solid #46a2fd;
    border-radius: 50%;
    margin-bottom: 1em;
    span:first-of-type{
      color: #fff;
    }
    span{
      font-size: 2.5rem;
    }
  }
  &__redes{
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: center;
    a{
      font-weight: 700;
      width: 50px;
      height: 50px;
      font-size: 20px;
      margin: 20px;
      color: #a2a2a2;
      display: flex;
      border-radius: 50%;
      background: #efefef;
    }
    a:first-of-type:hover{
      background: #41579A;
      color: #fff;
    }
    a:nth-of-type(2):hover{
      background: #DE4C34;
      color: #fff;
    }
    a:last-of-type:hover{
      background: linear-gradient(to top right, #FCDE30, #E9712A, #D2313B, #AE4198, #7540A1, #5443A8);
      color: #fff;
    }
  }
}
.icon-redes-footer{
  margin: auto;
}

hr{

  background:#c0c0c07a;
  border: none;
  height: 2px;
  margin-top: 20px;
}
h4{
  color:#8e8e8e;
  margin: 20px;
  font-weight: 500;
}
#button-up {
  width: 60px;
  height: 60px;
  background: #46a2fd;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 50%;
  font-size: 20px;
  position: fixed;
  bottom: 50px;
  right: 50px;
  cursor: pointer;
  border: 4px solid transparent;
  transition: all 300ms ease;
  transform: scale(0);
  &.show{
    transform: scale(1);
  }
}
