.main-header {
  position: fixed;
  z-index: var(--z-fixed);
  top: 0;
  width: 100%;
  height: var(--header-width);
  border-bottom: 1px solid var(--border-color);
  background: white;
  box-shadow: 0 4px 25px -22px black;
  transition: all 0.5s;
  &__block {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.main-menu__nav {
  font-size: 1.2em;
  position: fixed;
  top: var(--header-width);
  left: -100vw;
  bottom: 0;
  width: 50vw;
  // background: var(--text-color);
  background: white;
  z-index: var(--z-tooltip);
  // transition: left .3s;
  box-shadow: 10px 0 20px -25px black;
  transition: all 0.3s cubic-bezier(1, 0, 0, 1);
  // transition: left .3s ;
  @include from(medium) {
    font-size: 18px;
    margin-right: -120px;
    position: initial;
    background-color: initial;
    width: auto;
    height: 100%;
  }
  @include from(900px) {
    margin-right: -30%;
  }
  @include from(970px) {
    margin-right: -30%;
  }
  @include from(1050px) {
    margin-right: -40%;
  }
}
.main {
  margin-top: var(--header-width);
  margin-left: 0;
  width: 100%;
  // transition: all .3s cubic-bezier(1,0,0,1);
  transition: margin-left 0.3s cubic-bezier(1, 0, 0, 1);
}

.main-menu__ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 1em;
  padding-left: 1em;
  @include from(medium) {
    height: 100%;
    display: flex;
    padding-top: 0;
    padding-left: 0;
  }
}
.main-menu {
  &__item {
    @include from(medium) {
      display: flex;
      justify-content: center;
      align-items: center;
      &:not(:last-child) {
        margin-right: 1em;
      }
    }
  }
  &__item:not(:last-child) {
    position: relative;
    margin-bottom: 1.5em;
    @include from(medium) {
      margin-bottom: 0;
    }
  }
  &__link {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: normal;
    display: block;
    color: #777777;
    transition: all 0.3s;
    &:hover {
      color: #46a2fd;
    }
    @include from(medium) {
      color: var(--text-color);
      &:hover {
        text-shadow: rgba(#000, 0.3) 0 0.05em 0.15em;
      }
    }
  }
}
.icon-title {
  display: inline-block;
  width: 20px;
  color: #46a2fd;
  text-align: center;
  margin-right: 0.5em;
  @include from(medium) {
    display: none;
  }
}

@include from(medium) {
  :root {
    --header-width: 5rem;
  }
}
.icons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-search {
  margin-right: 1em;
  cursor: pointer;
  color: #777777;
  font-size: 1.3em;
}
