$width:30px;
$height:4px;
$menu-color:#525252;


.icon-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  cursor: pointer;
  padding: .7em;
  background: #eeeeeefa;
  border-radius: 100%;
  &__bar {
    background: $menu-color;
    width: $width;
    height: $height;
    border-radius: $height / 2;
    position: relative;

    &:after,
    &:before {
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        height: $height;
        border-radius: $height/2;
        background: $menu-color;
        top: -.5em;
    }

    &:after {
        top: .5em;
    }
  }
  @include from(medium) { display: none; }
  &:hover {
    opacity: 0.8;
  }
}
