
.main-logo{
  font-weight: 700;
  font-size: 1.8em;
  font-family: 'Source Sans Pro', sans-serif;
  span:first-of-type{
    color: black;
  }
  span:last-of-type{
    color: #46a2fd;
  }
  @include from(medium){
    font-size: 2em;
  }
}
