.posts{
  width: 100%;
  margin: auto;
  // padding: 10px;

}
.post{
  background:#fff;
  box-shadow: 0px 6px 20px 0 rgba(21, 27, 38, 0.2);
  border-radius: 10px;
  padding-bottom: 20px;
  overflow: hidden;
  &:not(:last-child){
    margin-bottom: 40px;
    @include from(566px) {margin-bottom: 0;}
  }
  &__title{
    font-size: 18px;
    margin-top: 20px;
    padding: 0 20px;
  }
  &__description{
    display: block;
    margin-top: 10px;
    padding: 0 20px;
  }
  &__button{
    display: inline-block;
    margin-top: 20px;
    margin-left: 20px;
    padding: 10px 50px;
    font-size: 16px;
    background: #46a2fd;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
  }
}
.bagde-container{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-left: 20px;
  margin-top: 10px;
  &__item{
    list-style: none;
    font-size: 14px;
    margin: 4px;
    padding: 6px 10px;
    background: #e8e8e8;
    cursor: default;
  }
}

@include from(566px){
  // .posts{
    // display: flex;
    // flex-flow: row wrap;
    // justify-content: center;

  // }
  // .post{
  //   margin: 10px;
  //   max-width: 310px;
  //   width: calc(50% - 20px);
  //   margin-bottom: 20px;
  // }
}
.posts{
  @media screen and (min-width:566px){
    @include flexboxgrid('.post',2);
  }
  @media screen and (min-width:900px){
    @include flexboxgrid('.post',3);
  }
  @media screen and (min-width:1200px){
    @include flexboxgrid('.post',4);
  }
}
