.search-container {
  position: fixed;
  width: 100%;
  top: calc(-1 * var(--header-width));
  background: #fff;
  padding: 20px;
  z-index: var(--z-tooltip);
  z-index: 9;
  transition: all 600ms;
}
.search{
  &.l-container{
    padding: 0;
  }
  &__input{
    display: block;
    width: 100%;
    margin: auto;
    padding: 10px;
    font-size: 18px;
    outline: 0;
  }
}
#cover-ctn-search {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  background: rgba(0,0,0,0.5);
  z-index: 7;
  display: none;
}
.box-search{
  display: none;
  position: fixed;
  width: 100%;
  background: white;
  left: 50%;
  transform: translateX(-50%);
  z-index: var(--z-tooltip);
  overflow: hidden;
  top: calc((2 * var(--header-width)) + 2px );
  &.l-container{
    padding: 0;
  }
}
.box-search li{
  display: none;
  width: 100%;
}
.box-search li a {
  display: block;
  color: #777777;
  padding: 12px 20px;
}
.box-search li a:hover {
  background: #f3f3f3;
}
.box-search li a i {
  margin-right: 10px;
  color: #777777;
}
