$breakPoints: (
  medium: 768px,
  large: 960px
);
:root{
  --max-width:1200px;
  --header-width:4rem;
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
  --text-color: #263238;
  --border-color:#CCC;
  --first-color: #00bcd4;
  --second-color: #0097a7;
  --accent-color: #ffc400;
  --accent-color2: #ffab00;
  --bg-color: #eeeeee;
  --bg-color2: #e0e0e0;
}
