mixin banner(color,title,subtitle,image)
  .main-banner(class="main-banner--"+color)
    img.main-banner__hero-image(src=`${image}` alt="Soy el banner")
    .main-banner__content.l-container
      h1.main-banner__title=title
      p.main-banner__description=subtitle
