
footer.main-footer
  a(href=pages[0].url).main-logo.main-footer__logo
    span @M
    span T
  .main-footer__redes
    <a href="#"><i class="fab fa-facebook-f icon-redes-footer" aria-hidden="true"></i></a>
    <a href="#"><i class="fab fa-google-plus-g icon-redes-footer" aria-hidden="true"></i></a>
    <a href="#"><i class="fab fa-instagram icon-redes-footer" aria-hidden="true"></i></a>
  <hr>
  .footer-wrapper.l-container
    <h4>© 2020 @MaurickThom - Todos los Derechos Reservados</h4>

