header.main-header
  .main-header__block.l-container
    a(href=pages[0].url).main-logo
      span @Maurick
      span Thom
    nav.main-menu__nav(itemscope itemtype="http://schema.org/SiteNavigationElement" role="navigation" style=global.isHome?'':'margin-right:0;margin-left:auto;' )#main-menu__nav
      ul.main-menu__ul
        - for(let page of pages)
            - page.title.toLowerCase() === global.currentPage.toLowerCase() ? active='active' : active=''
            li.main-menu__item(itemprop="url" class=active): a.main-menu__link(href=page.url itemprop="name") #[span.icon-title #[i( class=page.class )] ] #{page.title}
    .icons
      - if (global.isHome)
        .icon-search#icon-search: i.fas.fa-search
      .icon-menu#icon-menu: .icon-menu__bar
