mixin post(img,title,description,badges)
  - let categories = ''
  - for(let lng of badges)
    - categories+=" "+lng

  .post(data-categories=categories.trim())
    img(src=img, alt="").post__img
    h2.post__title=title
    p.post__description=description
    ul.bagde-container
      - for(let lng of badges)
        li.bagde-container__item=lng
    a(href="/blog").post__button Leer más
