.search-container
  .search.l-container
    input#search(type="text", name="",placeholder="¿Qué deseas buscar?").search__input
ul#box-search.box-search.l-container
  li
    a(href='/blog')
      i.fas.fa-search(aria-hidden='true')
      | HTML
  li
    a(href='/blog')
      i.fas.fa-search(aria-hidden='true')
      | CSS
  li
    a(href='/blog')
      i.fas.fa-search(aria-hidden='true')
      | JavaScript
  li
    a(href='/blog')
      i.fas.fa-search(aria-hidden='true')
      | PHP
  li
    a(href='/blog')
      i.fas.fa-search(aria-hidden='true')
      | NODEJS
  li
    a(href='/blog')
      i.fas.fa-search(aria-hidden='true')
      | VUEJS
  li
    a(href='/blog')
      i.fas.fa-search(aria-hidden='true')
      | Como hacer
  li
    a(href='/blog')
      i.fas.fa-search(aria-hidden='true')
      | Como crear
