*,
*::after,
*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
img {
    display: block;
    max-width: 100%;
    object-fit: cover;
}

ul,li,a{
  text-decoration: none;
  list-style: none;
}

body {
  color: var(--text-color);
  background-color: white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: sans-serif;
  overflow-x: hidden;
  background:#f6f6f6;
}
