extends ../config/template.pug
include ../includes/post
append config
  - global.pageTitle = 'Home'
  - global.pageDescription = 'Pagina inicial'
  - global.pageImage = 'https://ed.team/sites/default/files/EDboilerplate-logo.png'

block main
  +banner('first','¡Encuentra tu tema interes!', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam aliquam quis fuga beatae blanditiis assumenda.','/img/img3.jpg')
  .container-post.l-container
    input(type="radio", name="category" value="TODOS" id="TODOS" checked)
    input(type="radio", name="category" value="HTML" id="HTML")
    input(type="radio", name="category" value="CSS" id="CSS")
    input(type="radio", name="category" value="JS" id="JS")
    input(type="radio", name="category" value="PHP" id="PHP")
    input(type="radio", name="category" value="NODE" id="NODE")
    input(type="radio", name="category" value="VUE" id="VUE")
    .category-container
      // EL ID SE ENLAZARA CON EL FOR
      label.category__item(for="TODOS") TODOS

      label.category__item(for="HTML") HTML

      label.category__item(for="CSS") CSS

      label.category__item(for="JS") JS

      label.category__item(for="PHP") PHP

      label.category__item(for="NODE") NODE

      label.category__item(for="VUE") VUE
    .posts
      +post('https://picsum.photos/id/177/4040/2200','Como hacer SLIDER de comparación de imágenes','26 febrero 2020 - 1:32 am',['CSS','HTML'])
      +post('https://picsum.photos/id/1/4040/2200','Como puedes crear una pagina web tipo blog | HTML - CSS - JS','26 febrero 2020 - 1:32 am',['HTML'])
      +post('https://picsum.photos/id/10/4040/2200','¡Efecto!😮 Hover ¿AVANZADO? con puro CSS','26 febrero 2020 - 1:32 am',['JS'])
      +post('https://picsum.photos/id/16/4040/2200','¡Efecto!😮 Hover ¿AVANZADO? con puro CSS','26 febrero 2020 - 1:32 am',['JS','NODEJS','VUE'])
      +post('https://picsum.photos/id/666/4040/2200','Como hacer INDICADOR DE SCROLL con HTML5 - CSS3 - JS','26 febrero 2020 - 1:32 am',['CSS'])
      +post('https://picsum.photos/id/115/4040/2200','MODO OSCURO para tu página web con HTML - CSS ','26 febrero 2020 - 1:32 am',['PHP'])
      +post('https://picsum.photos/id/911/4040/2200','Como hacer Popup con PURO CSS','26 febrero 2020 - 1:32 am',['CSS','NODEJS'])
      +post('https://picsum.photos/id/800/4040/2200','Como hacer Popup con PURO CSS','26 febrero 2020 - 1:32 am',['CSS','NODEJS'])
