block config
  include variables
  include ../includes/banner
doctype html
html(lang="es")
  head
    title= global.siteName
    meta(charset="utf-8")
    meta(name="viewport" content="initial-scale=1.0, width=device-width")
    meta(name="twitter:card" content="summary_large_image")
    meta(name="twitter:site" content=global.twitterAccount)
    meta(property="og:title" content=global.pageTitle)
    meta(property="og:description" content=global.pageDescription)
    meta(property="og:image" content=global.pageImage)
    <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap" rel="stylesheet">
  body
    include ../includes/main-menu
    - if (global.isHome)
      include ../includes/search
      <div id="cover-ctn-search"></div>
    .main#main
      block main
    #button-up.button-up.l-container
      i.fas.fa-chevron-up(aria-hidden='true')
    include ../includes/footer

