- global.pageTitle = 'Home'
- global.siteName = 'EDboilerplate'
- global.twitterAccount = '@edteamlat'
- global.pageDescription = 'Simple boilerplate for static web projects with sass, pug and babel'
- global.pageImage = ''
- global.isHome = true
-
  global.pages = [
    {
      title: 'Home',
      url: '/',
      class:'fas fa-home',
      child: []
    },
    {
      title: 'Blog',
      url: '/blog',
      class:'fas fa-file-alt',
      child: []
    },
    {
      title: 'Tutoriales',
      url: '#',
      class:'fab fa-youtube',
      child: []
    },
    {
      title: 'Contacto',
      url: '#',
      child: [],
      class:'fas fa-headset'
    }
  ]
- global.currentPage = global.pages[0].title
