extends ../../config/template.pug
append config
  - global.pageTitle = 'Blog'
  - global.pageDescription = 'Pagina inicial'
  - global.pageImage = 'https://ed.team/sites/default/files/EDboilerplate-logo.png'
  - global.isHome = false
  - global.currentPage = 'Blog'
block main
  +banner('second','¡Todo es posible!', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam aliquam quis fuga beatae blanditiis assumenda.','/img/img8.jpg')
  .blog-container.l-container
    article.main-content
      h1 Titulo del articulo
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. At ipsum velit earum quam culpa nostrum, totam, a, veritatis laborum sunt optio fuga sint placeat. Ad, aliquid a accusamus maxime harum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi modi, rem obcaecati ipsum repellendus beatae totam reiciendis nemo, laudantium aliquam, praesentium quod! Odio optio, quasi eligendi atque dolorum voluptas odit! ipsum dolor sit amet, consectetur adipisicing elit. Odio nulla quia, doloribus minus, et rerum autem ducimus quam quidem eius id fugiat aut? Sapiente asperiores, quia facere quam, eligendi itaque. ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem reiciendis, culpa voluptatem nesciunt necessitatibus quis architecto odit blanditiis, sapiente illum, animi eius voluptatum laborum commodi delectus voluptatibus obcaecati distinctio. Quas. ipsum dolor sit amet, consectetur adipisicing elit. Similique expedita aliquid officiis adipisci repellat quis odit laboriosam, veritatis fuga, voluptatum iusto in perspiciatis explicabo, distinctio nisi ullam ut quas culpa officia, unde rem earum. Omnis minus aspernatur beatae asperiores laboriosam! Magni ducimus qui, aliquid modi ex autem unde corporis harum.
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos ipsam nulla, neque necessitatibus porro quibusdam unde ipsa veritatis. Consequuntur voluptates, maxime magnam est facere tempora corporis ad voluptatibus dicta iure! ipsum dolor sit amet, consectetur adipisicing elit. Animi ducimus sit in deserunt delectus libero non quo sed asperiores, dicta veritatis vero eum, ea voluptas. Repudiandae reprehenderit ut, fuga pariatur? ipsum dolor sit amet, consectetur adipisicing elit. Similique, debitis sit doloribus, eveniet, quibusdam deserunt provident quas magnam repudiandae dolor autem itaque nostrum dignissimos cupiditate hic porro minima, harum? Illo. ipsum dolor sit amet, consectetur adipisicing elit. Voluptas, ea.
      h1 Subtitulo del articulo
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos ipsam nulla, neque necessitatibus porro quibusdam unde ipsa veritatis. Consequuntur voluptates, maxime magnam est facere tempora corporis ad voluptatibus dicta iure! ipsum dolor sit amet, consectetur adipisicing elit. Animi ducimus sit in deserunt delectus libero non quo sed asperiores, dicta veritatis vero eum, ea voluptas. Repudiandae reprehenderit ut, fuga pariatur? ipsum dolor sit amet, consectetur adipisicing elit. Similique, debitis sit doloribus, eveniet, quibusdam deserunt provident quas magnam repudiandae dolor autem itaque nostrum dignissimos cupiditate hic porro minima, harum? Illo. ipsum dolor sit amet, consectetur adipisicing elit. Voluptas, ea.
      img(src="/img/img2.jpg", alt="")
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos ipsam nulla, neque necessitatibus porro quibusdam unde ipsa veritatis. Consequuntur voluptates, maxime magnam est facere tempora corporis ad voluptatibus dicta iure! ipsum dolor sit amet, consectetur adipisicing elit.
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae id nam incidunt quam corrupti, vitae numquam aliquid qui, sit libero hic nesciunt iste repudiandae, quae debitis, deleniti cupiditate. Iste, iusto? ipsum dolor sit amet, consectetur adipisicing elit. Quos ipsam nulla, neque necessitatibus porro quibusdam unde ipsa veritatis. Consequuntur voluptates, maxime magnam est facere tempora corporis ad voluptatibus dicta iure! ipsum dolor sit amet, consectetur adipisicing elit.
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos ipsam nulla, neque necessitatibus porro quibusdam unde ipsa veritatis. Consequuntur voluptates, maxime magnam est facere tempora corporis ad voluptatibus dicta iure! ipsum dolor sit amet, consectetur adipisicing elit.
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos ipsam nulla, neque necessitatibus porro quibusdam unde ipsa veritatis. Consequuntur voluptates, maxime magnam est facere tempora corporis ad voluptatibus dicta iure! ipsum dolor sit amet, consectetur adipisicing elit.
    .sidebar
      aside.aside
        img(src='/img/img6.jpg', alt='').aside__img
        h2.aside__title Titulo del articulo
        p.aside__content
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero quo, vel officiis voluptas minima at totam provident cupiditate ad consectetur!
        button.aside__button leer más
      aside.aside
        img(src='/img/img1.jpg', alt='').aside__img
        h2.aside__title Titulo del articulo
        p.aside__content
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero quo, vel officiis voluptas minima at totam provident cupiditate ad consectetur! Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor repellat ullam quos totam aliquid atque porro culpa vitae odit eum quidem molestias, explicabo ea accusamus sequi facere fuga alias doloremque.
      aside.aside
        img(src='/img/img4.jpg', alt='').aside__img
        h2.aside__title Titulo del articulo
        p.aside__content
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero quo, vel officiis voluptas minima at totam provident cupiditate ad consectetur!
        button.aside__button leer más
